label {
  display:block;
}

ul {
  xlist-style-type: none;
  list-style-position: inside;
  padding-left: 10px;
}

button {
  margin-top: 10px;
  margin-left: 15px;
}

.blurb {
  font-style: italic;
  padding: 1em;
}

#results {
  display: none;
}

#name-form {
  padding-right: 70%;
}

.ruby {
  background-color: #cc0000;
}

.csharp {
  background-color: #4A2882;
  color: #B0F9D8;
}

.js {
  background-color: #f0DB4F;
  color: #323330
}