label {
  display:block;
}

ul {
  xlist-style-type: none;
  list-style-position: inside;
  padding-left: 10px;
}

button {
  margin-top: 10px;
  margin-left: 15px;
}

img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-top: 1.3%;
  padding-bottom: 1%;
}

.subheading {
  font-style: italic;
  padding: 1em;
}

.heading {
  padding: 1em;
}

.cool { 
  font-style: italic;
  font-weight: bold;
}

#name-form {
  padding-right: 70%;
}

#results, .hidden-pic {
  display: none;
}

.ruby {
  background-color: #e72929;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.csharp {
  background-color: #4A2882;
  color: #B0F9D8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.js {
  background-color: #f0DB4F;
  color: #323330;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#no-input-message {
  color: red;
  font-style: italic;
  font-size: 2em;
  position: absolute;
  margin-top: 25px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3px 9px 3px 9px;
  background-color: #ffdada;
  display: none;
}